<h1>Stupid Coaching 🚀</h1>
<form action="/answer" data-turbo="false">
  <div class="row">
    <div class="col">
      <input type="text" name="question" placeholder="Your question" >
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </div>
</form>
